* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #0A092D;
  color: white;
  max-width: 300px;
  margin: 0 auto;
}

section {
  width: 300px;
  height: 100vh;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li p {
  padding: 10px 5px;
}

li:hover, li[data-selected="true"] {
  color: #F19EDC;
  cursor: pointer;
}

button, a[role='button']{
  display: block;
  cursor: pointer;

  width: 250px;
  height: 55px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #382AD6;
  padding: 18px 0;

  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Helvetica Neue';
  text-decoration: none;
}

a[role='disabled-button']{
  display: block;
  cursor: not-allowed;
  
  width: 250px;
  height: 55px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(128,128,128);
  padding: 18px 0;

  color: black;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Helvetica Neue';
  text-decoration: none;
}

/*

######
## Welcome Page CSS
######

*/

#welcome-page{
    position: relative;
}

#welcome-page .initial-content{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
}

#welcome-page .revealed-content{
  display: none;
}

#welcome-page .revealed-content p{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
}

#welcome-page .revealed-content a{
  position: absolute;
  top: calc(100% - 18px);
  left: 50%;
  transform: translate(-50%, -100%);
}

#home-icon{
  max-width: 200px;
}

#overlay{
  width: 100%;
  height: 100%;
  background-color: #0A092D;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0%;
}

#overlay.animate{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

#overlay.unanimate{
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{
  from{ opacity: 0%; }
  to{ opacity: 100%; }
}

@keyframes fadeIn{
  from{ opacity: 100%; }
  to{ opacity: 0%; }
}



/*

######
## Skill Choice Page CSS
######

*/



#skill-choice-page .content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skill-choice-page h1{
  font-size: 16px;
  text-align: center;

  width: 200px;
  padding-top: 20px;
  padding-bottom: 30vh;
}

#skill-choice-page a{
  margin: 20px;
}

#skill-choice-page a[role='button']{
  background-color: #0A092D;
  border: 1px solid white;
}



/*

######
## Conjugation Page CSS
######

*/



#conjugation-game{
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#conjugation-game .content{
  visibility: hidden;
  position: absolute;
}

#conjugation-game .ready{
  display: none;
  font-size: 24px;
}

#conjugation-game .intro-content p{
 text-align: center;
}

#conjugation-game .content h1{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 1vh 0;
} 

#conjugation-game .content p{
  font-size: 16px;
  text-align: center;
  margin: 1vh 0;
}

#conjugation-game .content li p{
  background-color: #2E3856;
  border-radius: 10px;
}

#conjugation-game .content ul{
  padding-top: 2vh;
  padding-bottom: 18vh;
  margin: 0;
}

#conjugation-game .top-info{
  padding-bottom: 10vh;
  display: flex;
  justify-content: space-between;
}

#conjugation-game .top-info p{
  text-align: left;
  font-size: 12px;
}

#conjugation-game .round-timer{
  width: 51px;
  height: 51px;
  background: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#conjugation-game .round-timer p{
  color: black;
  font-weight: 700;
  font-size: 14px;
}






