* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #0A092D;
  color: hsl(200, 100%, 90%);
  max-width: 300px;
  max-height: 600px;
  margin: 0 auto;
}

section {
  width: 300px;
  height: 600px;
  margin: 0 auto;
}

h1{
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 400;
}

h1, h2 {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li p {
  padding: 10px 5px;
}

li:hover, li[data-selected="true"] {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

a[role='button']{
  display: block;
  cursor: pointer;

  width: 250px;
  height: 55px;
  text-align: center;
  border-radius: 10px;
  background-color: #382AD6;
  padding: 18px 0;

  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Helvetica Neue';
  text-decoration: none;
}

a[role='disabled-button']{
  display: block;
  cursor: not-allowed;
  
  width: 250px;
  height: 55px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(128,128,128);
  padding: 18px 0;

  color: black;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Helvetica Neue';
  text-decoration: none;
}

/*

######
## Welcome Page CSS
######

*/

#welcome-page{
    position: relative;
}

#welcome-page .initial-content{
  padding-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-page .revealed-content{
  display: none;
}

#welcome-page .revealed-content p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
}

#welcome-page .revealed-content a{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

#home-icon{
  max-width: 200px;
}

#overlay{
  width: 100%;
  height: 100%;
  background-color: #0A092D;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0%;
}

#overlay.animate{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

#overlay.unanimate{
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{
  from{ opacity: 0%; }
  to{ opacity: 100%; }
}

@keyframes fadeIn{
  from{ opacity: 100%; }
  to{ opacity: 0%; }
}


/*

######
## Skill Choice Page CSS
######

*/

#skill-choice-page .content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skill-choice-page h1{
  font-size: 16px;
  text-align: center;

  width: 200px;
  padding-top: 20px;
  padding-bottom: 20%;
}

#skill-choice-page a{
  margin: 20px;
}

#skill-choice-page a[role='button']{
  background-color: #0A092D;
  border: 1px solid white;
}






