* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #333;
  color: hsl(200, 100%, 90%);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

section {
  width: 300px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li p {
  padding: 10px 5px;
}

li:hover, li[data-selected="true"] {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}